.s-second {
    height: 70rem;
    margin-top: 5.2rem;
    .container {
        .text {
            padding-top: 5rem;
            @include flex(row, center, space-between);
            margin-bottom: 5.3rem;
            h2 {
                font-family: 'PT Sans';
                font-weight: 700;
                font-size: 3.2rem;
                line-height: 130%;
                color: #453F51;
                max-width: 50.2rem;
            }
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #5E5570;
            }
        }
        .all-cards {
            display: flex;
            justify-content: space-between;
            .card {
                width: 28rem;
                height: 37rem;
                padding: 0 3rem;
                padding-top: 6.1rem;
                .div-img {
                    width: 6.4rem;
                    height: 6.4rem;
                    @include flex(row, center, center);
                    margin-bottom: 3rem;
                    background-color: rgba(197, 190, 220, 0.274);
                    border-radius: 0.7rem;
                }
                h4 {
                    margin-bottom: 2rem;
                    font-weight: 800;
                    font-size: 1.8rem;
                    line-height: 22px;
                    color: $purple;
                }
                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 165%;
                    color: #5E5570;
                }
            }
            .tree-cards {
                display: flex;
                border-bottom: solid rgba(95, 60, 161, 0.116) 0.3rem;
                border-radius: 0.3rem;
                .card.teste {
                    display: flex;
                    flex-direction: column;
                    margin-left: 2.5rem;
                }
            }
        }
        @include responsive(1200px) {
            .all-cards {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    .text-second {
                        display: flex;
                        flex-direction: column;
                        align-items: center
                    }
                }
                .tree-cards {
                    margin-top: 1rem;
                    .card.teste {
                        align-items: flex-start;
                        margin-left: 0;
                        .text-second {
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        @include responsive(991px) {
            .text {
                @include flex(column, center, center);
                h2 {
                    text-align: center;
                    margin-bottom: 2.8rem;
                }
                p {
                    text-align: center;
                }
            }
        }
        @include responsive(600px) {
            .all-cards {
                .card {
                    text-align: center;
                }
                .tree-cards {
                    flex-direction: column;
                    align-items: center;
                    .card.teste {
                        align-items: center;
                        .text-second {
                            align-items: center;
                        }
                    }

                }
            }
        }
    }
}